@page "/Factura/nuevo"

<PageTitle>Factura</PageTitle>

@using TestNagSAApp.Data
@using TestNagSAApp.Domain.Factura;
@using TestNagSAApp.Domain.Producto;
@inject FacturaService facturaService
@inject NavigationManager navigationManager

<h1>Factura Nueva</h1>
<br />
<div class="float-end">
    <a href="/Factura/fetch" class="btn btn-secondary">Regresar </a>
</div>
<p>Agregar nueva factura</p>



<EditForm Model="@_producto" OnValidSubmit="@OnValidSubmit">
    @if (_producto is not null)
    {

        <div class="card">
            <div class="card-body">

                <div class="col-12 ">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Descripción:</label>

                        <InputText class="form-control" id="Descripcion" autocomplete="off" @bind-Value=@_producto.Cliente />
                        <div class="invalid-feedback">
                            <ValidationMessage class="text-danger" For="@(() => _producto.Cliente)" />
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Stock:</label>

                        <InputDate class="form-control" id="Descripcion" autocomplete="off" @bind-Value=@_producto.Fecha />
                        <div class="invalid-feedback">
                            <ValidationMessage class="text-danger" For="@(() => _producto.Fecha)" />
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Descuento:</label>

                        <InputNumber class="form-control" id="Descripcion" autocomplete="off" @bind-Value=@_producto.Descuento />
                        <div class="invalid-feedback">
                            <ValidationMessage class="text-danger" For="@(() => _producto.Descuento)" />
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Valor IVA:</label>

                        <InputNumber class="form-control" id="Descripcion" autocomplete="off" @bind-Value=@_producto.IVA />
                        <div class="invalid-feedback">
                            <ValidationMessage class="text-danger" For="@(() => _producto.IVA)" />
                        </div>
                    </div>


                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Valor Venta:</label>

                        <InputNumber class="form-control" id="Descripcion" autocomplete="off" @bind-Value=@_producto.ValorTotal />
                        <div class="invalid-feedback">
                            <ValidationMessage class="text-danger" For="@(() => _producto.ValorTotal)" />
                        </div>
                    </div>

                    <DataAnnotationsValidator />
                </div>

            </div>
            <div class="card-footer d-flex justify-content-start py-6 px-9">

                <button disabled="@_isBusy" type="submit" class="btn btn-primary">
                    @if (!_isBusy)
                    {
                        <text>Guardar</text> <i class="bi bi-cloud-plus"></i>
                    }
                    else
                    {
                        <text>Procesando...</text>
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    }
                </button>
            </div>
        </div>




    }


</EditForm>


@code {

    
    public bool _isBusy { get; set; }
    private FacturaDTO _producto = new FacturaDTO() { Estado = "A" };

    protected override async Task OnInitializedAsync()
    {
        //_formasPago = await formaPagoService.GetAsync();
    }
    public async void OnValidSubmit()
    {
        _isBusy = true;
        StateHasChanged();
        try
        {
            var response = await facturaService.PostAsync(_producto);
            if (response.Item1)
            {
                navigationManager.NavigateTo("/Producto/fetch");
            }
            else
            {
                
            }
        }
        catch (Exception)
        {
            //aqui debe mostrar alguna alerta
        }
        finally
        {
            _isBusy = false;
            StateHasChanged();
        }
    }
}
